@model ATTUT.Data.Models.ProfileModel
@{
    ViewData["Title"] = "Edit Profile";
}
<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Edit Profile
                </header>
                <div class="panel-body">
                    <form asp-action="EditProfile" autocomplete="off">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="EmpId" />
                            <fieldset>
                                <legend>Official Information</legend>
                                <div class="form-group">
                                    <label asp-for="EmployeeId" class="control-label input-sm col-md-2"></label>
                                    <label class="control-label input-sm col-md-4">@Model.EmployeeId</label>                                   
                                    <label asp-for="Role" class="control-label input-sm col-md-2"></label>
                                    <label class="control-label input-sm col-md-4">@Model.Role</label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BranchId" class="control-label input-sm col-md-2"></label>
                                    <div class="col-md-4">
                                        <select asp-for="BranchId" class="form-control input-sm " asp-items="@ViewBag.DdlBranch as SelectList">
                                        </select>
                                        <span asp-validation-for="BranchId" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>General Information</legend>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label input-sm col-md-2"></label>
                                    <div class="col-md-4">
                                        <input asp-for="Name" class="form-control input-sm" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <label asp-for="ContactNo" class="control-label input-sm col-md-2"></label>
                                    <div class="col-md-4">
                                        <input asp-for="ContactNo" class="form-control input-sm" />
                                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmailId" class="control-label input-sm col-md-2"></label>
                                    <div class="col-md-4">
                                        <input asp-for="EmailId" class="form-control input-sm" />
                                        <span asp-validation-for="EmailId" class="text-danger"></span>
                                    </div>
                                    <label asp-for="Address" class="control-label input-sm col-md-2"></label>
                                    <div class="col-md-4">
                                        <input asp-for="Address" class="form-control input-sm" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>                                
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-4">
                                    <input type="submit" value="Update" class="btn btn-sm btn-success" />
                                    <a class="btn btn-sm btn-danger" href="/Profile/MyProfile">Cancel</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } 
}
