
@{
    ViewBag.Title = "Attut Vivah.com";
}
<div style="min-height: 400px;">
    <h1 style="color:#FFF">Security Error.</h1>
    <div class="alert alert-danger" role="alert" style="margin: 200px auto; text-align: center; width: 50%;">         
        You are not authorised to view this module.!
       @* @Html.Raw(ViewBag.ErrorMessage)*@
    </div>
</div>