@model ATTUT.Data.Models.Basics.CountryModel
@{
    ViewData["Title"] = "Add Country";
}
<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Add Country
                    <span class="tools pull-right">
                        <a class="btn btn-sm btn-danger" href="/BasicsMaster/CountryList">Back</a>
                    </span>
                </header>
                <div class="panel-body">
                    <form asp-action="AddCountry" autocomplete="off">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <fieldset>
                                <legend>Country Details</legend>
                                <div class="form-group">
                                    <label asp-for="CountryName" class="control-label input-sm col-md-2"></label>
                                    <div class="col-md-4">
                                        <input asp-for="CountryName" class="form-control input-sm" />
                                        <span asp-validation-for="CountryName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CountryRemarks" class="control-label input-sm col-md-2"></label>
                                    <div class="col-md-4">
                                        <input asp-for="CountryRemarks" class="form-control input-sm" />
                                        <span asp-validation-for="CountryRemarks" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-2">
                                        <input type="submit" value="Save" class="btn btn-sm btn-success" />
                                        <a class="btn btn-sm btn-danger" href="/Master/CategoryList">Cancel</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
